################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/AzureaTool
/bin/publish
/bin/Release/net6.0-windows
/obj
/AzureaTool.csproj.user
/image.drawio
/AzureaTool.user
/.vs/ProjectEvaluation
